<template>
  <div v-if="profile" class="user">
    <h1 class="d-flex align-items-center">
      <img :src="profile.avatar" class="rounded-circle mr-2" width="40" height="40"/>
      This is {{ profile.first_name }} {{ profile.last_name }}'s profile
    </h1>
  </div>
  <div v-else>
    Loading...
  </div>
</template>

<script>
import { getUserById } from "../services/users";

export default {
  name: "user",
  data() {
    return {
      profile: null
    };
  },
  created() {
    const id = +this.$route.params.id;
    getUserById(id)
      .then((response) => response.json())
      .then(response => {
        this.profile = response.data;
      });
  },
  components: {}
};
</script>
