<template>
  <div class="users">
    <h1>There will be users</h1>
    <ul v-if="users && users.length > 0">
      <li v-for="user in users" :key="user.id">
        <router-link :to="'/user/' + user.id">
          {{ user.first_name }} {{ user.last_name }}
        </router-link>
      </li>
    </ul>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
import { getUsers } from "../services/users";

export default {
  name: "users",
  data() {
    return {
      users: []
    };
  },
  created() {
    getUsers()
      .then((response) => response.json())
      .then(response => {
        this.users = response.data;
      });
  },
  components: {}
};
</script>
