<template>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <router-link to="/" exact class="nav-link" active-class="active">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/users" class="nav-link" active-class="active">Users</router-link>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Our fancy project</h3>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>
